body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    color: #FF4081;
    margin-top: 50px;
    font-size; 46px;
}

.cat-image img {
    max-width: 400px;
}

.github-logo {
    width: 20px;
    height: 20px;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #FF4081;
    border-radius: 5px;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #FF4081;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.error {
    color: red;
}

.result {
    margin-top: 40px;
    padding: 10px;
    background-color: #FF4081;
    color: #fff;
    border-radius: 4px;
}

.result-heading {
    font-size: 2.0em;
}

.result-message {
    font-size: 1.5em;
}

.github-link {
    text-decoration: none;
    color: #FF4081;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.github-text {
    font-weight: bold;
    font-size: 16px;
}

