<!DOCTYPE html>
<html>
<head>
    <title>Finding the Closest Prime Number</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Finding the Closest Prime Number</h1>
    <div class="github-profile">
        <a class="github-link" href="https://github.com/mapi100" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo" class="github-logo">
            <span class="github-text">GitHub</span>
        </a>
    </div>
    <div class="cat-image">
        <img src="https://www.pngitem.com/pimgs/m/273-2736935_maths-cat-hd-png-download.png" alt="Mathematical Cat">
    </div>
    <form method="POST" action="/">
        {{ form.csrf_token }}
        <label for="number">Enter an integer:</label>
        {{ form.number }}
        {% for error in form.number.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
        <br>
	<br>
        {{ form.submit }}
    </form>
    <div class="result">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <h2 class="result-heading">Result:</h2>
                <p class="result-message">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
